@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  z-index: 99;
}

.logo{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.8em;
 
}

.navigation a {
  position: relative;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
    .rectangle {
      width: 200px;
      height: 780px;
      background-color: rgba(0, 0, 0, 0.65);
      position: absolute;
      top: 0px; 
      left: 50px; 
     z-index: 1;  /* Set a higher z-index to ensure it's above the image */

    }

    .rectangle h1 {
      color: white;
      text-align: center;
      font-family: 'Poppins';
      margin-top: 50px;
    }

    .rectangle p {
      color: white;
      text-align: center;
      font-family: cursive;
      margin-top: 50px;
    }
    h3{
      color: white;
      background-color: white; 
    }

    h2 {
      color: white;
    }

    .bottom-image {
      width: 200px; 
      height: 200px; 
      position: absolute;
      bottom: 30px; 
      left: 0px; 
      transition: transform 0.3s ease;

    }

    .bottom-image:hover {
       transform :scale(1.5); 
    }

.additional-images {
 position: fixed; 
  top: 50px; 
  left: 400px;    
  display: none;
  text-align: center;


    }
.cB{
border-radius : 50% ;
background-color : black ;
padding : 5px ;
}

.additional-images img {
  width: 300px;
  height: 200px;
  margin: 5px;
  opacity: 0;
  transition: opacity 2s ease, transform 0.3s ease;
}

.additional-images.fade-in img {
  opacity: 1;
}

.additional-images img:hover {
  transform: scale(1.2); /* Enlarge the image on hover */
}
body {
            margin: 0;
            font-family: Arial, sans-serif;

        }
        #taskBar {
            background-color: black;
            color: white;
            padding: 10px;
            text-align: center;

        }
        #taskBar a {
            color: white;
            text-decoration: none;
            margin: 0 15px;

        }
